* {
background: rgb(199, 185, 128);
}

table, th, td {
    border: 1px solid black;
}

header{
 color:rgb(53, 53, 126);
 text-align: center;

}

h1{
    Color: darkblue;
    text-align: center;
    font-family: 'Lobster', cursive;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:50%;
}

table{
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(116, 94, 169);

}